--acronyms ID,URL,UUID
--allman false
--anonymousforeach ignore
--assetliterals actual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--callsiteparen default
--categorymark "MARK: - %c"
--classthreshold 0
--closingparen balanced
--closurevoid preserve
--commas always
--complexattrs prev-line
--computedvarattrs prev-line
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping 3,6
--doccomments before-declarations
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes prev-line
--generictypes 
--groupblanklines true
--groupedextension "MARK: - %c"
--guardelse auto
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent 4
--indentcase false
--indentstrings false
--inferredtypes exclude-cond-exprs
--initcodernil false
--inlinedforeach ignore
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories true
--markextensions always
--marktypes always
--maxwidth 170
--modifierorder 
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizationmode type
--organizetypes actor,class,enum,struct
--patternlet hoist
--preservedecls 
--preservedsymbols Package
--propertytypes explicit
--ranges spaced
--self init-only
--selfrequired init-only
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--sortedpatterns 
--storedvarattrs prev-line
--stripunusedargs always
--structthreshold 0
--tabwidth unspecified
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes prev-line
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--typemarks 
--typeorder 
--visibilitymarks 
--visibilityorder 
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions preserve
--wrapeffects preserve
--wrapenumcases always
--wrapparameters before-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable conditionalAssignment,genericExtensions,opaqueGenericParameters,preferForLoop,preferKeyPath,redundantBackticks,redundantRawValues,strongOutlets,trailingCommas,unusedArguments,wrapMultilineStatementBraces
--enable acronyms,blankLineAfterSwitchCase,blankLinesBetweenImports,blockComments,docComments,isEmpty,markTypes,noExplicitOwnership,organizeDeclarations,propertyTypes,redundantProperty,sortSwitchCases,unusedPrivateDeclarations,wrapConditionalBodies,wrapEnumCases,wrapMultilineConditionalAssignment,wrapSwitchCases
